pipeline/2-Copy FHIR Data Patients.json
{
	"name": "2-Copy FHIR Data Patients",
	"properties": {
		"activities": [
			{
				"name": "GET Patients",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prta4hws-pr-ta4h-fhir.fhir.azurehealthcareapis.com/Patient",
					"method": "GET",
					"datasets": [
						{
							"referenceName": "HDSFHIRPatients",
							"type": "DatasetReference"
						}
					],
					"authentication": {
						"type": "MSI",
						"resource": "https://prta4hws-pr-ta4h-fhir.fhir.azurehealthcareapis.com"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GET Patients",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET Patients').output.entry",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "POST Patient",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prta4hws-pr-adf-fhir.fhir.azurehealthcareapis.com/Patient",
								"method": "POST",
								"body": {
									"value": "@item().resource",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://prta4hws-pr-adf-fhir.fhir.azurehealthcareapis.com"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "HDS-ADF Integration Demo"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-12T18:26:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}