pipeline/CCDA-FHIR_R4 Converter.json
{
	"name": "CCDA-FHIR_R4 Converter",
	"properties": {
		"activities": [
			{
				"name": "CCDA-FHIR_R4",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Generic Converter",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"fhirService": {
							"value": "@pipeline().parameters.fhirService",
							"type": "Expression"
						},
						"acrServer": {
							"value": "@pipeline().parameters.acrServer",
							"type": "Expression"
						},
						"templateReference": "ccdatemplates:default",
						"inputData": {
							"value": "@pipeline().parameters.inputData",
							"type": "Expression"
						},
						"inputDataType": "CCDA",
						"rootTemplate": {
							"value": "@pipeline().parameters.rootTemplate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set converted result output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CCDA-FHIR_R4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "convertResult",
							"value": {
								"type": "Expression",
								"content": "@activity('CCDA-FHIR_R4').output.pipelineReturnValue.convertResult"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Set converted error output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CCDA-FHIR_R4",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "convertError",
							"value": {
								"type": "Expression",
								"content": "@activity('CCDA-FHIR_R4').output.pipelineReturnValue.convertError"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"fhirService": {
				"type": "string"
			},
			"acrServer": {
				"type": "string"
			},
			"inputData": {
				"type": "string"
			},
			"rootTemplate": {
				"type": "string"
			}
		},
		"folder": {
			"name": "HFL/Transform/Convert/Specific Converters"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-23T21:51:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}