pipeline/Format FHIR bundle.json
{
	"name": "Format FHIR bundle",
	"properties": {
		"description": "Formats the FHIR resources into a FHIR bundle suitable for saving into the destination FHIR Service.",
		"activities": [
			{
				"name": "Format FHIR resource",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.inputResources",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append FHIR resources",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Update FHIR resource",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "resources",
								"value": {
									"value": "@json(variables('updatedFhirResource'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Update FHIR resource",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "updatedFhirResource",
								"value": {
									"value": "{\n    \"fullUrl\":\"@{item().resource.resourceType}/@{item().resource.id}\",\n    \"resource\": @{item().resource},\n    \"request\": {\n        \"method\": \"POST\",\n        \"url\": \"@{item().resource.resourceType}\"\n    }\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set FHIR bundle output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Format FHIR resource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "fhirBundle",
							"value": {
								"type": "Expression",
								"content": "@concat('{\n    \"resourceType\": \"Bundle\",    \n    \"id\": \"id\",\n    \"meta\": {\n        \"profile\": [\n             \"http://hl7.org/fhir/4.0.1/StructureDefinition/Bundle\"\n        ]\n    },\n    \"type\": \"batch\",    \n    \"entry\":', string(variables('resources')), '\n}')"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"inputResources": {
				"type": "array"
			}
		},
		"variables": {
			"resources": {
				"type": "Array"
			},
			"updatedFhirResource": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Transform/Format"
		},
		"annotations": []
	}
}