pipeline/Generic Converter.json
{
	"name": "Generic Converter",
	"properties": {
		"activities": [
			{
				"name": "Convert",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.fhirService, '$convert-data')",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n    \"resourceType\": \"Parameters\",\n    \"parameter\": [\n        {\n            \"name\": \"inputData\",\n            \"valueString\": \"@{pipeline().parameters.inputData}\"\n        },\n        {\n            \"name\": \"inputDataType\",\n            \"valueString\": \"@{pipeline().parameters.inputDataType}\"\n        },\n        {\n            \"name\": \"templateCollectionReference\",\n            \"valueString\": \"@{pipeline().parameters.acrServer}/@{pipeline().parameters.templateReference}\"\n        },\n        {\n            \"name\": \"rootTemplate\",\n            \"valueString\": \"@{pipeline().parameters.rootTemplate}\"\n        }\n    ]\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "@pipeline().parameters.fhirService",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set converted result",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Convert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "convertResult",
							"value": {
								"type": "Expression",
								"content": "@activity('Convert').output"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Set converted error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Convert",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "convertError",
							"value": {
								"type": "Expression",
								"content": "@activity('Convert').output.issue"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"fhirService": {
				"type": "String",
				"defaultValue": "https://prta4hws-pr-adf-fhir.fhir.azurehealthcareapis.com/"
			},
			"acrServer": {
				"type": "string",
				"defaultValue": "pallar.azurecr.io"
			},
			"templateReference": {
				"type": "string",
				"defaultValue": "hl7v2-v5.1:020701"
			},
			"inputData": {
				"type": "string",
				"defaultValue": "MSH|^~\\\\&|SIMHOSP|SFAC|RAPP|RFAC|20200508131015||ADT^A01|517|T|2.3|||AL||44|ASCII\\nEVN|A01|20200508131015|||C005^Whittingham^Sylvia^^^Dr^^^DRNBR^PRSNL^^^ORGDR|\\nPID|1|3735064194^^^SIMULATOR MRN^MRN|3735064194^^^SIMULATOR MRN^MRN~2021051528^^^NHSNBR^NHSNMBR||Kinmonth^Joanna^Chelsea^^Ms^^CURRENT||19870624000000|F|||89 Transaction House^Handmaiden Street^Wembley^^FV75 4GJ^GBR^HOME||020 3614 5541^HOME|||||||||C^White - Other^^^||||||||\\nPD1|||FAMILY PRACTICE^^12345|\\nPV1|1|I|OtherWard^MainRoom^Bed 183^Simulated Hospital^^BED^Main Building^4|28b|||C005^Whittingham^Sylvia^^^Dr^^^DRNBR^PRSNL^^^ORGDR|||CAR|||||||||16094728916771313876^^^^visitid||||||||||||||||||||||ARRIVED|||20200508131015||"
			},
			"inputDataType": {
				"type": "string",
				"defaultValue": "Hl7v2"
			},
			"rootTemplate": {
				"type": "string",
				"defaultValue": "ADT_A01"
			}
		},
		"folder": {
			"name": "HFL/1. Transform/Convert"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-23T21:51:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}