pipeline/Generic FHIR R4 Converter.json
{
	"name": "Generic FHIR R4 Converter",
	"properties": {
		"description": "Performs the conversion of specified input data type to FHIR R4 bundles. ",
		"activities": [
			{
				"name": "Convert",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.fhirService, '$convert-data')",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n    \"resourceType\": \"Parameters\",\n    \"parameter\": [\n        {\n            \"name\": \"inputData\",\n            \"valueString\": \"@{pipeline().parameters.inputData}\"\n        },\n        {\n            \"name\": \"inputDataType\",\n            \"valueString\": \"@{pipeline().parameters.inputDataType}\"\n        },\n        {\n            \"name\": \"templateCollectionReference\",\n            \"valueString\": \"@{pipeline().parameters.acrServer}/@{pipeline().parameters.templateReference}\"\n        },\n        {\n            \"name\": \"rootTemplate\",\n            \"valueString\": \"@{pipeline().parameters.rootTemplate}\"\n        }\n    ]\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "@pipeline().parameters.fhirService",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set converted result output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Convert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "convertResult",
							"value": {
								"type": "Expression",
								"content": "@activity('Convert').output"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Set converted error output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Convert",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "convertError",
							"value": {
								"type": "Expression",
								"content": "@activity('Convert').output.issue"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"fhirService": {
				"type": "String"
			},
			"acrServer": {
				"type": "string"
			},
			"templateReference": {
				"type": "string"
			},
			"inputData": {
				"type": "string"
			},
			"inputDataType": {
				"type": "string"
			},
			"rootTemplate": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Transform/Convert"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-23T21:51:25Z"
	}
}