pipeline/HL7V2-FHIR_R4 Converter.json
{
	"name": "HL7V2-FHIR_R4 Converter",
	"properties": {
		"activities": [
			{
				"name": "HL7V2-FHIR_R4",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Generic Converter",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"fhirService": {
							"value": "@pipeline().parameters.fhirService",
							"type": "Expression"
						},
						"acrServer": {
							"value": "@pipeline().parameters.acrServer",
							"type": "Expression"
						},
						"templateReference": "hl7v2-v5.1:020701",
						"inputData": {
							"value": "@pipeline().parameters.inputData",
							"type": "Expression"
						},
						"inputDataType": "Hl7v2",
						"rootTemplate": {
							"value": "@pipeline().parameters.rootTemplate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set converted result",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "HL7V2-FHIR_R4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "convertResult",
							"value": {
								"type": "Expression",
								"content": "@activity('HL7V2-FHIR_R4').output.pipelineReturnValue.convertResult"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Set converted error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "HL7V2-FHIR_R4",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "convertError",
							"value": {
								"type": "Expression",
								"content": "@activity('HL7V2-FHIR_R4').output.pipelineReturnValue.convertError"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"fhirService": {
				"type": "string",
				"defaultValue": "https://prta4hws-pr-adf-fhir.fhir.azurehealthcareapis.com/"
			},
			"acrServer": {
				"type": "string",
				"defaultValue": "pallar.azurecr.io"
			},
			"inputData": {
				"type": "string",
				"defaultValue": "MSH|^~\\\\&|SIMHOSP|SFAC|RAPP|RFAC|20200508131015||ADT^A01|517|T|2.3|||AL||44|ASCII\\nEVN|A01|20200508131015|||C005^Whittingham^Sylvia^^^Dr^^^DRNBR^PRSNL^^^ORGDR|\\nPID|1|3735064194^^^SIMULATOR MRN^MRN|3735064194^^^SIMULATOR MRN^MRN~2021051528^^^NHSNBR^NHSNMBR||Kinmonth^Joanna^Chelsea^^Ms^^CURRENT||19870624000000|F|||89 Transaction House^Handmaiden Street^Wembley^^FV75 4GJ^GBR^HOME||020 3614 5541^HOME|||||||||C^White - Other^^^||||||||\\nPD1|||FAMILY PRACTICE^^12345|\\nPV1|1|I|OtherWard^MainRoom^Bed 183^Simulated Hospital^^BED^Main Building^4|28b|||C005^Whittingham^Sylvia^^^Dr^^^DRNBR^PRSNL^^^ORGDR|||CAR|||||||||16094728916771313876^^^^visitid||||||||||||||||||||||ARRIVED|||20200508131015||"
			},
			"rootTemplate": {
				"type": "string",
				"defaultValue": "ADT_A01"
			}
		},
		"folder": {
			"name": "HFL/1. Transform/Convert/Specific Converters"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-23T21:51:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}