pipeline/TA4H Execution.json
{
	"name": "TA4H Execution",
	"properties": {
		"activities": [
			{
				"name": "AnalyzeText",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://pr-ta4h-demo-eastus.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-05-15-preview",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json",
						"Ocp-Apim-Subscription-Key": "9d29014a68424284be9568150b75092a"
					},
					"body": {
						"analysisInput": {
							"documents": [
								{
									"text": "The doctor prescribed \"200mg Ibuprofen.\"",
									"language": "en",
									"id": "1"
								}
							]
						},
						"tasks": [
							{
								"taskId": "analyze 1",
								"kind": "Healthcare",
								"parameters": {
									"fhirVersion": "4.0.1"
								}
							}
						]
					}
				}
			},
			{
				"name": "Get Job",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "AnalyzeText",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('AnalyzeText').output.ADFWebActivityResponseHeaders['operation-location']",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Content-Type": "application/json",
						"Ocp-Apim-Subscription-Key": "9d29014a68424284be9568150b75092a"
					}
				}
			}
		],
		"folder": {
			"name": "HDS-ADF Integration Demo"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-12T18:26:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}