templates/HL7V2-FHIR_R4 Converter - Blob trigger/HL7V2-FHIR_R4 Converter - Blob trigger.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"pallar_DataLake": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/HL7V2-FHIR_R4 Converter - Blob trigger')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Read input data",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Read from Blob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"storageAccount": {
									"value": "@pipeline().parameters.inputStorageAccount",
									"type": "Expression"
								},
								"storageFolder": {
									"value": "@pipeline().parameters.inputStorageFolder",
									"type": "Expression"
								},
								"storageFile": {
									"value": "@pipeline().parameters.inputStorageFile",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HL7V2-FHIR_R4 Converter",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Read input data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HL7V2-FHIR_R4 Converter",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"fhirService": {
									"value": "@pipeline().parameters.fhirService",
									"type": "Expression"
								},
								"acrServer": {
									"value": "@pipeline().parameters.acrServer",
									"type": "Expression"
								},
								"inputData": {
									"value": "@activity('Read input data').output.pipelineReturnValue.inputData",
									"type": "Expression"
								},
								"rootTemplate": {
									"value": "@pipeline().parameters.rootTemplate",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Write result to Blob",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "HL7V2-FHIR_R4 Converter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Write to Blob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"storageAccount": {
									"value": "@pipeline().parameters.outputStorageAccount",
									"type": "Expression"
								},
								"storageFolder": {
									"value": "@pipeline().parameters.outputStorageFolder",
									"type": "Expression"
								},
								"storageFile": {
									"value": "@{pipeline().parameters.inputStorageFile}_@{utcnow()}.json",
									"type": "Expression"
								},
								"fileContent": {
									"value": "@activity('HL7V2-FHIR_R4 Converter').output.pipelineReturnValue.convertResult",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Write result to Data Lake",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "HL7V2-FHIR_R4 Converter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Write to Data Lake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"storageAccount": {
									"value": "@pipeline().parameters.outputDataLakeAccount",
									"type": "Expression"
								},
								"storageFolder": {
									"value": "@pipeline().parameters.outputStorageFolder",
									"type": "Expression"
								},
								"storageFile": {
									"value": "@{pipeline().parameters.inputStorageFile}_@{utcnow()}.json",
									"type": "Expression"
								},
								"fileContent": {
									"value": "@activity('HL7V2-FHIR_R4 Converter').output.pipelineReturnValue.convertResult",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Lookup Data Lake Data",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Write result to Data Lake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Convert_Results_DataLake",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Write errors to Data Lake",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "HL7V2-FHIR_R4 Converter",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Write to Data Lake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"storageAccount": {
									"value": "@pipeline().parameters.outputDataLakeAccount",
									"type": "Expression"
								},
								"storageFolder": {
									"value": "@pipeline().parameters.errorStorageFolder",
									"type": "Expression"
								},
								"storageFile": {
									"value": "@{pipeline().parameters.inputStorageFile}_@{utcnow()}.json",
									"type": "Expression"
								},
								"fileContent": {
									"value": "@activity('HL7V2-FHIR_R4 Converter').output.pipelineReturnValue.convertError",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"fhirService": {
						"type": "string",
						"defaultValue": "https://prta4hws-pr-adf-fhir.fhir.azurehealthcareapis.com/"
					},
					"acrServer": {
						"type": "string",
						"defaultValue": "pallar.azurecr.io"
					},
					"inputStorageAccount": {
						"type": "string",
						"defaultValue": "https://pallardts.blob.core.windows.net"
					},
					"inputStorageFolder": {
						"type": "string",
						"defaultValue": "convert-samples/hl7v2"
					},
					"inputStorageFile": {
						"type": "string",
						"defaultValue": "ADT-A01-00.hl7"
					},
					"outputStorageFolder": {
						"type": "string",
						"defaultValue": "convert-results/hl7v2"
					},
					"outputDataLakeAccount": {
						"type": "string",
						"defaultValue": "https://pallardatalake.blob.core.windows.net"
					},
					"rootTemplate": {
						"type": "string",
						"defaultValue": "ADT_A01"
					},
					"errorStorageFolder": {
						"type": "string",
						"defaultValue": "errors/hl7-v2"
					},
					"outputStorageAccount": {
						"type": "string",
						"defaultValue": "https://pallardts.blob.core.windows.net"
					}
				},
				"folder": {
					"name": "HFL/Pipelines/ETL"
				},
				"annotations": [],
				"lastPublishTime": "2023-03-23T21:51:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Read from Blob')]",
				"[concat(variables('factoryId'), '/pipelines/HL7V2-FHIR_R4 Converter')]",
				"[concat(variables('factoryId'), '/pipelines/Write to Blob')]",
				"[concat(variables('factoryId'), '/pipelines/Write to Data Lake')]",
				"[concat(variables('factoryId'), '/datasets/Convert_Results_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Read from Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Storage Files",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat(pipeline().parameters.storageAccount,'/',pipeline().parameters.storageFolder,'/',pipeline().parameters.storageFile)",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {
								"x-ms-blob-type": "BlockBlob",
								"x-ms-version": "2017-11-09"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://storage.azure.com/"
							}
						}
					},
					{
						"name": "Set input data",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Storage Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "inputData",
									"value": {
										"type": "Expression",
										"content": "@activity('Get Storage Files').output.Response"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"parameters": {
					"storageAccount": {
						"type": "string"
					},
					"storageFolder": {
						"type": "string"
					},
					"storageFile": {
						"type": "string"
					}
				},
				"folder": {
					"name": "HFL/0. Extract"
				},
				"annotations": [],
				"lastPublishTime": "2023-03-22T20:40:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HL7V2-FHIR_R4 Converter')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "HL7V2-FHIR_R4",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Generic Converter",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"fhirService": {
									"value": "@pipeline().parameters.fhirService",
									"type": "Expression"
								},
								"acrServer": {
									"value": "@pipeline().parameters.acrServer",
									"type": "Expression"
								},
								"templateReference": "hl7v2-v5.1:020701",
								"inputData": {
									"value": "@pipeline().parameters.inputData",
									"type": "Expression"
								},
								"inputDataType": "Hl7v2",
								"rootTemplate": {
									"value": "@pipeline().parameters.rootTemplate",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Set converted result",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "HL7V2-FHIR_R4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "convertResult",
									"value": {
										"type": "Expression",
										"content": "@activity('HL7V2-FHIR_R4').output.pipelineReturnValue.convertResult"
									}
								}
							],
							"setSystemVariable": true
						}
					},
					{
						"name": "Set converted error",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "HL7V2-FHIR_R4",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "convertError",
									"value": {
										"type": "Expression",
										"content": "@activity('HL7V2-FHIR_R4').output.pipelineReturnValue.convertError"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"parameters": {
					"fhirService": {
						"type": "string"
					},
					"acrServer": {
						"type": "string"
					},
					"inputData": {
						"type": "string"
					},
					"rootTemplate": {
						"type": "string"
					}
				},
				"folder": {
					"name": "HFL/1. Transform/Convert/Specific Converters"
				},
				"annotations": [],
				"lastPublishTime": "2023-03-23T21:51:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Generic Converter')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Write to Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Save output to Blob",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat(pipeline().parameters.storageAccount,'/',pipeline().parameters.storageFolder,'/',pipeline().parameters.storageFile)",
								"type": "Expression"
							},
							"method": "PUT",
							"headers": {
								"x-ms-blob-type": "BlockBlob",
								"x-ms-version": "2017-11-09"
							},
							"body": {
								"value": "@pipeline().parameters.fileContent",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://storage.azure.com/"
							}
						}
					}
				],
				"parameters": {
					"storageAccount": {
						"type": "string"
					},
					"storageFolder": {
						"type": "string"
					},
					"storageFile": {
						"type": "string"
					},
					"fileContent": {
						"type": "string"
					}
				},
				"folder": {
					"name": "HFL/2. Load"
				},
				"annotations": [],
				"lastPublishTime": "2023-03-22T20:40:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Write to Data Lake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Save output to Data Lake",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat(pipeline().parameters.storageAccount,'/',pipeline().parameters.storageFolder,'/',pipeline().parameters.storageFile)",
								"type": "Expression"
							},
							"method": "PUT",
							"headers": {
								"x-ms-blob-type": "BlockBlob",
								"x-ms-version": "2017-11-09"
							},
							"body": {
								"value": "@pipeline().parameters.fileContent",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://storage.azure.com/"
							}
						}
					}
				],
				"parameters": {
					"storageAccount": {
						"type": "string"
					},
					"storageFolder": {
						"type": "string"
					},
					"storageFile": {
						"type": "string"
					},
					"fileContent": {
						"type": "string"
					}
				},
				"folder": {
					"name": "HFL/2. Load"
				},
				"annotations": [],
				"lastPublishTime": "2023-03-22T20:40:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Convert_Results_DataLake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('pallar_DataLake')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Convert"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "convert-results"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"resourceType": {
							"type": "string"
						},
						"type": {
							"type": "string"
						},
						"timestamp": {
							"type": "string"
						},
						"identifier": {
							"type": "object",
							"properties": {
								"value": {
									"type": "string"
								}
							}
						},
						"id": {
							"type": "string"
						},
						"entry": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"fullUrl": {
										"type": "string"
									},
									"resource": {
										"type": "object",
										"properties": {
											"resourceType": {
												"type": "string"
											},
											"id": {
												"type": "string"
											},
											"source": {
												"type": "object",
												"properties": {
													"name": {
														"type": "string"
													},
													"_endpoint": {
														"type": "object",
														"properties": {
															"extension": {
																"type": "array",
																"items": {
																	"type": "object",
																	"properties": {
																		"url": {
																			"type": "string"
																		},
																		"valueCode": {
																			"type": "string"
																		}
																	}
																}
															}
														}
													}
												}
											},
											"destination": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"name": {
															"type": "string"
														},
														"_endpoint": {
															"type": "object",
															"properties": {
																"extension": {
																	"type": "array",
																	"items": {
																		"type": "object",
																		"properties": {
																			"url": {
																				"type": "string"
																			},
																			"valueCode": {
																				"type": "string"
																			}
																		}
																	}
																}
															}
														},
														"receiver": {
															"type": "object",
															"properties": {
																"reference": {
																	"type": "string"
																}
															}
														}
													}
												}
											},
											"meta": {
												"type": "object",
												"properties": {
													"tag": {
														"type": "array",
														"items": {
															"type": "object",
															"properties": {
																"code": {
																	"type": "string"
																},
																"system": {
																	"type": "string"
																}
															}
														}
													}
												}
											},
											"eventCoding": {
												"type": "object",
												"properties": {
													"code": {
														"type": "string"
													},
													"system": {
														"type": "string"
													},
													"display": {
														"type": "string"
													}
												}
											},
											"sender": {
												"type": "object",
												"properties": {
													"reference": {
														"type": "string"
													}
												}
											}
										}
									},
									"request": {
										"type": "object",
										"properties": {
											"method": {
												"type": "string"
											},
											"url": {
												"type": "string"
											}
										}
									}
								}
							}
						},
						"ADFWebActivityResponseHeaders": {
							"type": "object",
							"properties": {
								"X-Request-ID": {
									"type": "string"
								},
								"X-Content-Type-Options": {
									"type": "string"
								},
								"X-Frame-Options": {
									"type": "string"
								},
								"Content-Security-Policy": {
									"type": "string"
								},
								"Strict-Transport-Security": {
									"type": "string"
								},
								"Date": {
									"type": "string"
								},
								"Server": {
									"type": "string"
								},
								"Content-Length": {
									"type": "string"
								},
								"Content-Type": {
									"type": "string"
								}
							}
						},
						"effectiveIntegrationRuntime": {
							"type": "string"
						},
						"executionDuration": {
							"type": "integer"
						},
						"durationInQueue": {
							"type": "object",
							"properties": {
								"integrationRuntimeQueue": {
									"type": "integer"
								}
							}
						},
						"billingReference": {
							"type": "object",
							"properties": {
								"activityType": {
									"type": "string"
								},
								"billableDuration": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"meterType": {
												"type": "string"
											},
											"duration": {
												"type": "number"
											},
											"unit": {
												"type": "string"
											}
										}
									}
								}
							}
						},
						"output": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Generic Converter')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Convert",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat(pipeline().parameters.fhirService, '$convert-data')",
								"type": "Expression"
							},
							"method": "POST",
							"body": {
								"value": "{\n    \"resourceType\": \"Parameters\",\n    \"parameter\": [\n        {\n            \"name\": \"inputData\",\n            \"valueString\": \"@{pipeline().parameters.inputData}\"\n        },\n        {\n            \"name\": \"inputDataType\",\n            \"valueString\": \"@{pipeline().parameters.inputDataType}\"\n        },\n        {\n            \"name\": \"templateCollectionReference\",\n            \"valueString\": \"@{pipeline().parameters.acrServer}/@{pipeline().parameters.templateReference}\"\n        },\n        {\n            \"name\": \"rootTemplate\",\n            \"valueString\": \"@{pipeline().parameters.rootTemplate}\"\n        }\n    ]\n}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": {
									"value": "@pipeline().parameters.fhirService",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Set converted result",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Convert",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "convertResult",
									"value": {
										"type": "Expression",
										"content": "@activity('Convert').output"
									}
								}
							],
							"setSystemVariable": true
						}
					},
					{
						"name": "Set converted error",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Convert",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "convertError",
									"value": {
										"type": "Expression",
										"content": "@activity('Convert').output.issue"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"parameters": {
					"fhirService": {
						"type": "String"
					},
					"acrServer": {
						"type": "string"
					},
					"templateReference": {
						"type": "string"
					},
					"inputData": {
						"type": "string"
					},
					"inputDataType": {
						"type": "string"
					},
					"rootTemplate": {
						"type": "string"
					}
				},
				"folder": {
					"name": "HFL/1. Transform/Convert"
				},
				"annotations": [],
				"lastPublishTime": "2023-03-23T21:51:25Z"
			},
			"dependsOn": []
		}
	]
}